<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Edytuj konsultanta</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            
                <label for="empName">Imię:</label>
                <input type="text" name="empName" value="Jan" id="empName" disabled="true">
                <span id="errorFirstName" class="errors-text"></span>
         
                <label for="empSurname">Nazwisko:</label>
                <input type="text" name="empSurname" value="Kowalski" id="empSurname" disabled="true">
                <span id="errorLastName" class="errors-text"></span>
            
                <label for="empEmail">Email:</label>
                <input type="email" name="empEmail" value="jan.kowalski@greenleaf.com" id="empEmail" disabled="true">
                <span id="errorEmail" class="errors-text"></span>  
           
             <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" value="Zatwierdź" class="button-edit" />  
                <a href="pages/consultant/list.html" class="button-cancel">Anuluj</a>  
            </div>

            
         </form>
        
    </main>

<%- include('../../fragments/footer.ejs') %>
