<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenLeaf</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationConsultForm.js"></script>
    <script type="application/javascript" src="/js/validationProjectForm.js"></script>
</head> 
<body>
    <header>
        <h1>GreenLeaf Konsulting Środowiskowy</h1>
        <img src="/images/logo.jpg" alt="GreenLeaf Logo"> 
          
    </header>
    <nav>
            <ul>
                <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
                <li><a href="/consultants" class="<%= navLocation == 'cons' ? 'active' : ''%>">Konsultanci</a></li>
                <li><a href="/projects" class="<%= navLocation == 'project' ? 'active' : ''%>">Projekty</a></li>
            </ul>
        </nav> 